<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factura</title>
</head>
<body>
<h1>FACTURA</h1>
<p>{{fechaActual}}</p>
<h3>Datos del emisor</h3>
<p>Nombre : {{nombre}}</p>
<p>CIF : {{cif}}</p>
<p>Dirección : {{direccion}}</p>
<p>Población : {{poblacion}}</p>
<p>Provincia : {{provincia}}</p>
<p>CP : {{cp}}</p>
<p>País : {{pais}}</p>
<p>Persona de contacto : {{contacto}}</p>
<p>Email : {{email}}</p>
<p>Teléfono : {{telefono}}</p>
<h3>Datos del cliente</h3>
<p>Nombre : {{nombreCliente}}</p>
<p>CIF : {{cifCliente}}</p>
<p>Dirección : {{direccionCliente}}</p>
<p>Población : {{poblacionCliente}}</p>
<p>Provincia : {{provinciaCliente}}</p>
<p>CP : {{cpCliente}}</p>
<p>País : {{paisCliente}}</p>
<p>Persona de contacto : {{contactoCliente}}</p>
<p>Email : {{emailCliente}}</p>
<p>Teléfono : {{telefonoCliente}}</p>
<h3>Línea de detalle</h3>
<p>Concepto : {{concepto}}</p>
<p>Precio : {{precio}}</p>
<p>Unidades : {{unidades}}</p>
<p>Importe bruto : {{importeBruto}}</p>
<p>Porcentaje IVA : {{porcentaje}}</p>
<p>Importa total : {{importeTotal}}</p>
</body>
</html>